/* Kristina Russell - 12/17/2023 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    align-items: center;
}

#board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid rgb(215, 215, 215);
    background-color: rgb(178, 178, 178);
    padding: 10px;
    height: 160px;
}

#draggables {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#draggables .ui-widget-content img, .boardTile img{
    width: 150px;
    height: auto;
}

/* The zindex helps the rack render behind the letter chips */
#rack{
    z-index: -1;
    position: absolute;
    top: 300px;
    left: 32%;
}

#rack img {
    width: 1000px;
    height: auto;
}
